 <DOCTYPE html>
 <!DOCTYPE html>
 <html ng-app = myapp>
 <head>
 	<title></title>
 </head>
 <body>
	 <p> Hello </p>
	 <div ng-controller = "meetupsController">
	 	 <h1>There are {{meetups.length}}  meetups </h1>
	 	 <ul> 
		 	 <li ng-repeat = "meetup in meetups">
		 	 	{{meetup.name}}
		 	 </li>
	 	 </ul>
	 	 <form ng-submit="createMeetup()">
	 	 	<input type="text" placeholder="meetup name" ng-model="meetupName">
	 	 	<button type="submit ">Submit </button>
	 	 </form>
	 </div>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"> </script>
 <script type="text/javascript" src="/js/controllers/meetups-controller.js"> </script>
 </body>
 </html>